<!DOCTYPE html>
<html lang="en">
    <!-- Header Section -->
    {% include 'head.html' %}
    
    <body>
        <!-- Navigation-->
        {% include 'navb.html' %}

        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Rent Your Room</p>
                </div>
            </div>
        </header>

        <!-- Content Section -->
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8" style="z-index: 10; position: relative;">
                        <p>
                            <br/><br/>
                            Welcome to Rent Your Room – your go-to platform for finding and renting comfortable, affordable, and well-maintained rooms in New Zealand. Whether you’re a student, professional, or simply looking for a temporary stay, we offer a wide range of accommodations to fit your needs and budget.
                            <br/><br/>
                            At Rent Your Room, we understand that finding the right living space can be a challenge. That’s why we focus on connecting room seekers with reliable landlords, ensuring a smooth and hassle-free rental process. Our platform is designed with simplicity and convenience in mind, making it easy for you to browse listings, contact owners, and secure your next home.
                            <br/><br/>
                            We are committed to providing a seamless experience, excellent customer support, and quality housing options in desirable locations. Your comfort and satisfaction are our top priorities.
                            <br/><br/>
                            For inquiries or support, feel free to contact us at: rentroomcontact@gmail.com.                            <br/><br/>
                        </p>
                    </div>
                </div>
            </div>

        <!-- Footer Section -->
        {% include 'footer.html' %}
    </body>
</html>