

<!DOCTYPE html>
<html lang="en">
    <!-- Header Section -->
    {% include 'head.html' %}
  
    
    <body>
        <!-- Navigation-->
        <!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="{% url 'home' %}">Rent Your Room</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a></li>
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'search' %}">Search</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                <!-- <li class="nav-item dropdown"> -->
                    <!-- <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categories</a> -->
                    <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown"> -->
                        <!-- <li><a class="dropdown-item" href="{% url 'home' %}">All Products</a></li> -->
                        <!-- <li><hr class="dropdown-divider" /></li> -->
                        <!-- <li><a class="dropdown-item" href="{% url 'category' 'programming-books' %}">Programming Books</a></li> -->
                        <!-- <li><a class="dropdown-item" href="{% url 'category' 'marketing-books' %}">Marketing Books</a></li> -->
                    <!-- </ul> -->
                <!-- </li> -->
            {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link" href="{% url 'logout' %}">Logout</a></li>

                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Profile</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'update_user' %}">User Profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'update_info' %}">User Info</a></li>
                    </ul>
                </li> -->

            {% else %}
                <li class="nav-item"><a class="nav-link" href="{% url 'login' %}">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'register' %}">Register</a></li>
            {% endif %}

            </ul>
            <form class="d-flex">
                <a href="{% url 'cart_summary' %}" class="btn btn-outline-dark">
                    <i class="me-1"></i>
                    Bookmark
                    <span class="badge bg-dark text-white ms-1 rounded-pill" id = "cart_quantity">{{ cart|length }}</span></a>
            </form>
        </div>
    </div>
</nav>

        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert"> 
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="btn-close"></button>
            </div>
            {% endfor %}
        {% endif %}

                {% if cart_products %}
                {% for product in cart_products %}
                <div class="container">
                    <br/>
                    <div class="card md-3">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start" alt="" style="width:644px; height:414px; object-fit: cover; object-position: center;">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ product.name }}</h5>
                                <p><b>{{ product.address }}, {{product.city}}, {{ product.state }}, {{ product.country }}, {{ product.zipcode }}</b>
                                    <br/><b>Price: </b>${{ product.price }} per week 
    
                                    <!-- Product sharable-->
                                    <br/>
                                    {% if product.is_sharable %}
                                        <b>Is sharable: </b> Yes
                                    {% else %}
                                        <b>Is sharable: </b>No
                                    {% endif %}
    
                                    <!-- Product fully furnished-->
                                    <br/>
                                    {% if product.is_Fully_Furnished %}
                                        <b>Is Fully Furnished: </b> Yes
                                    {% else %}
                                        <b>Is Fully Furnished: </b> No
                                    {% endif %}
                                    <br/>
                                    <b>Phone: </b> {{product.extension}} {{product.phone}}
                                    <br/>
                                    <b>Shared Anemities: </b> {{product.amenities}}
    
                                </p>
                                <p class="card-text"><b>Description:</b><br/>{{ product.description }}</p>
                               
                                <button type="button" value="{{ product.id }}" class="btn btn-primary bookmark_cart" id="bookmark_cart">
                                    <i class="fas fa-bookmark"></i> <span> Remove Bookmark</span>
                                </button>                            
                            </div>
    
                        </div>
    
                    </div>
                </div>
                    {% endfor %}
                    {% else %}
                    There's nothing in your cart 
                    {% endif %}

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS to toggle bookmark state -->
<script>

                $(document).on('click', '#bookmark_cart', function(e){
                    e.preventDefault();
                    $.ajax({
                        type:'POST',
                        url:"{% url 'cart_delete' %}",
                        data: {
                            product_id: $('#bookmark_cart').val(),
                            csrfmiddlewaretoken: '{{ csrf_token }}',
                            action: 'post'
                        },

                        success: function(json){
                            location.reload();
                        },

                        error: function(xhr, errmsg, err){

                        }

                    });

                })

    
  </script>

        <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <!-- Footer Section -->
        {% include 'footer.html' %}
    </body>
</html>
